<div class="routes-list">
  <table
    matSort
    (matSortChange)="sortData($event)"
    class="routes-list__table"
    mat-table
    [dataSource]="sortedRoutes$"
  >
    <ng-container matColumnDef="address">
      <th
        class="routes-list__table_header"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Адрес назначения
      </th>
      <td class="routes-list__table_row_cell" mat-cell *matCellDef="let item">
        {{ item.address | ipWithShortenMask: item.mask }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gateway">
      <th
        class="routes-list__table_header"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Шлюз
      </th>
      <td class="routes-list__table_row_cell" mat-cell *matCellDef="let item">
        {{ item.gateway }}
      </td>
    </ng-container>

    <ng-container matColumnDef="interface">
      <th
        class="routes-list__table_header_cell"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Интерфейс
      </th>
      <td class="routes-list__table_row_cell" mat-cell *matCellDef="let item">
        {{ item.interface }}
      </td>
    </ng-container>

    <tr
      class="routes-list__table_header"
      mat-header-row
      *matHeaderRowDef="columns"
    ></tr>
    <tr
      class="routes-list__table_row"
      mat-row
      *matRowDef="let row; columns: columns"
      (click)="onRowClick(row)"
    ></tr>
  </table>
</div>
